center
  .devContents
    .dev
      center
        img(src='https://3.basecamp.com/3507221/blobs/c171e7396933597193d9ca683b78914b0010/download/http---res.cloudinary.com-dvirpbo6t-image-upload-v1493085668-dainty_u3j11z.jpg')
      span
        strong Dainty Jen A. Matundan
      br
      br
      a.profile(href='http://s.codepen.io/cathlynjoy/debug/mmxVjQ/PNkvYLGoXGPA', target='_blank') View Profile
    .dev
      center
        img(src='https://preview.3.basecamp.com/3507221/blobs/e171e52c55dc47a512606391cb7cd2770010/previews/lightbox/http---res.cloudinary.com-dvirpbo6t-image-upload-v1493085667-cathlyn_l5yvg7.jpg?dppx=1')
      span
        strong Cathlyn Joy M. Diomampo
      br
      br
      a.profile(href='http://s.codepen.io/cathlynjoy/debug/aWYdrE/yPAJjGXgREaA', target='_blank') View Profile
    .dev
      center
        img(src='https://3.basecamp.com/3507221/blobs/c171e72ed10ac95cbbca047308e8fbd20010/download/http---res.cloudinary.com-dvirpbo6t-image-upload-v1493085666-arnold_aozyb1.jpg')
      span
        strong Arnold C. Gutierrez
      br
      br
      a.profile(href='http://s.codepen.io/cathlynjoy/debug/KmozPM/mVkbGEpXwWpM', target='_blank') View Profile
    .dev
      center
        img(src='https://3.basecamp.com/3507221/blobs/4171ef5178aa9dca49649412eb9657050010/download/http---res.cloudinary.com-dvirpbo6t-image-upload-v1493085674-darwin_s8hxez.jpg')
      span
        strong Darwin D. Rosales
      br
      br
      a.profile(href='http://s.codepen.io/cathlynjoy/debug/rmdeaz/RBMOJeNKRjyk', target='_blank') View Profile
