
doctype html
html(lang='en')
  head
    title Google Book library
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    
  body
    center
      div.partial1
        .container-fluid
        .jumbotron
        
          
